@use "../../variables.scss";

.title {
  font-family: variables.$font-heading;
  margin: 0;
  padding: 0;

  &__h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
  }

  &__h2 {
    font-size: 25px;
    margin: 20px 0;
  }

  &__h3 {
    font-size: 20px;
  }

  &__back {
    height: 30px;
    width: 30px;
    margin: 0 10px 20px 0;
    transform: rotate(180deg);
    transition: 0.3s;
    z-index: 0;
    cursor: pointer;

    &:hover {
      margin-right: 20px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    height: fit-content;
  }
}