@use "../../variables.scss";

.menu {
  &__container {
    transition: 0.3s ease-in-out;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: variables.$color-menu-background;
    box-shadow: variables.$shadow;

    @media(min-width: variables.$size-mobile-max) {
      width: 500px;
      transition: 0.5s;
    }
  }

  &__header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;


    &__close {
      margin-left: auto;
      margin-right: 20px;
      width: 40px;
      height: 40px;
      border: none;
      background: none;

      & > img {
        width: 100%;
      }
    }
  }

  &__links {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      margin: 20px;
    }
  }

  &-closed {
    transform: translateX(-100vw);

    @media (min-width: variables.$size-mobile-max) {
      transform: translateX(-500px);
    }
  }
}


