@use "../../variables.scss";

.link {
  font-family: variables.$font-heading;
  font-size: variables.$size-font-link;
  text-decoration: underline;
  color: variables.$color-text-link;

  &--header {
    font-weight: bold;
    color: variables.$color-text-link-header;
    font-size: variables.$size-font-link-header;
    text-decoration: none;
  }

  &--selected {
    text-decoration: underline;
  }
}

.link__background {
  display: flex;
  height: fit-content;
}

.link__overlay {
  width: 100%;
  height: 10px;
  background-color: blue;
  position: relative;
}