@use "../../variables.scss";

.form {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
  }

  &__title {
    margin: 0;
    font-family: variables.$font-heading;
  }

  &__description {
    margin: 0;
    font-family: variables.$font-content;
  }

  &__children {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;

    & > div {
      margin: 10px 0;
    }

    & > .button__container {
      align-self: flex-end;
    }
  }
}
