@use "../../variables.scss";

.list-item {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: variables.$color-item-background;
  box-shadow: variables.$shadow;
  border-radius: variables.$border-radius;
  user-select: none;
  transition: 0.3s;

  &__container {
    text-decoration: none;
    color: black;
    height: 60px;
    display: flex;
    transition: 0.3s;
    cursor: pointer;

    @media (min-width: variables.$size-mobile-max) {
      &:hover {
        & > .arrow {
          opacity: 1;
          width: 40px;
          margin-left: 20px;
        }
        height: 70px;
      }
      &:active {
        height: 100px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    & > div {
      display: flex;
      align-items: center;
    }

    &__left {
      & > p {
        margin-right: 10px;
      }
    }

    &__right {
      margin-left: auto;
    }
  }

  &__border {
    width: 100%;
    height: 15px;
    margin-top: auto;
  }

  &__text {
    margin: 0;
    padding: 0;
    height: fit-content;
  }

  &__date {
    color: variables.$color-text-date;
  }
}

.arrow {
  user-select: none;
  width: 0;
  opacity: 0;
  object-fit: contain;
  margin-left: 0;
  transition: 0.3s;
}
