@use "../../variables.scss";

.list-item {
  &__container {
    height: 80px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: variables.$color-item-background;
    box-shadow: variables.$shadow;
    border-radius: variables.$border-radius;
  }

  &__content {
    &__left {
    }
  
    &__right {
    }
  }

  &__border {
    width: 100%;
    height: 15px;
    margin-top: auto;
  }
}
