$color-brand-primary: #000;
$color-brand-secondary: #000;
$color-brand-primary-light: #000;
$color-brand-secondary-light: #000;
$color-error: red;

$color-tungstun-blue: #82C9C1;
$color-tungstun-red: #F9525A;
$color-tungstun-orange: #FAB664;

$color-correct: $color-tungstun-blue;
$color-incorrect: $color-tungstun-red;

$color-auth-modal-background: #fff;

$color-divider-background: #EFEFEF;

$color-tooltip-background: #000;
$color-tooltip-text: #fff;

$color-transition-background: #000;

$color-button-background: #000;
$color-button-background-hover: #030061;
$color-button-background-active: #0500a3;
$color-button-content: #fff;

$color-item-background: #fff;
$color-text-date: #cecece;

$color-menu-background: #fff;
$color-header-background: #fff;

$color-text-hint: #CECECE;
$color-text-link: #CECECE;
$color-text-link-header: #000;

$color-input-background: #EFEFEF;

$font-heading: rubik, sans-serif;
$font-content: poppins, sans-serif;

$size-font-title: 30px;
$size-font-input: 15px;
$size-font-link: 15px;
$size-font-link-header: 18px;
$size-font-tooltip: 12px;
$size-mobile-max: 1000px;

$margin-horizontal-small: 10px;
$margin-horizontal-medium: 20px;
$margin-horizontal-large: 50px;

$border-radius: 15px;

$shadow: 0px 0px 20px 5px rgba(0,0,0,0.16);