@use "../../variables.scss";

.header {
  &__container {
    box-shadow: variables.$shadow;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    height: 60px;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
  }

  &__left {
    flex: 1;
  }

  &__center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: variables.$font-heading;
    user-select: none;
    font-weight: bold;
    font-size: 20px;
    flex: 1;
  }

  &__right {
    flex: 1;
  }
}

.menu {
  &__button {
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

  }

  &__image {
    width: 100%;
  }
}